:root {
  --color-bg: 250, 250, 250;
  --color-txt: #5c5c5c;
  --color-bdr: #dddddd;
  --color-ipt: #b1b1b1;
  --color-hvr: #efefef;
  --color-blue: 75, 186, 231;
  --color-green: 46, 204, 113;
  --color-red: 234, 51, 35;
}

:root.dark-mode {
  --color-bg: 30, 30, 30;
  --color-txt: #adadae;
  --color-bdr: #3e3e3e;
  --color-ipt: #656565;
  --color-hvr: #252525;
  --color-blue: 75, 186, 231;
  --color-green: 46, 204, 113;
  --color-red: 234, 51, 35;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(var(--color-bg));
  color: var(--color-txt);
}

body {
  display: flex;
  flex-direction: column;
}

.box {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(var(--color-bg));
  box-shadow: 0 0 0 0.5px var(--color-bdr);
  user-select: none;
  -webkit-user-select: none;
}

.link {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--color-txt);
  height: 35px;
  padding: 6.5px 7.5px 7.5px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

#index-page .link[href="./index.html"],
#market-page .link[href="./market.html"] {
  background-color: var(--color-hvr);
}

.link:hover {
  background-color: var(--color-hvr);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title img {
  width: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.connectivity {
  position: relative;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
}

.connectivity button,
.filter-list button {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-txt);
  background-color: rgb(var(--color-bg));
  border: none;
  height: 35px;
  padding: 7.5px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out;
}

.connectivity button:hover,
.filter-list button:hover {
  background-color: var(--color-hvr);
}

#connectBtn {
  font-size: 1.1em;
  color: rgb(var(--color-bg));
  background-color: var(--color-txt);
  transition: box-shadow 0.3s ease-in-out;
}

#connectBtn.connected {
  color: var(--color-txt);
  background-color: var(--color-hvr);
}

#connectBtn:hover {
  box-shadow: 0 0 0 1px var(--color-hvr);
}

#connectBtn img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.filter-bar {
  display: flex;
  align-items: center;
}

.filter-bar-phone {
  display: none;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-txt);
  background-color: var(--color-hvr);
  font-size: 1em;
  width: 105px;
  height: 35px;
  text-align: start;
  border-radius: 2px;
  padding-left: 30px;
  margin-right: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.search-input::placeholder {
  color: var(--color-ipt);
}

.search-input:hover,
.search-input:focus {
  box-shadow: 0 0 0 1px var(--color-ipt);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5px;
  color: var(--color-ipt);
  padding: 0;
  font-size: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
}

.filters-btn,
.my-svg-btn {
  color: var(--color-txt);
  background: transparent;
  height: 35px;
  padding: 7.5px;
  border: none;
  cursor: pointer;
  justify-content: center;
  font-size: 1.1em;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.filters-btn:hover,
.my-svg-btn:hover {
  background-color: var(--color-hvr);
}

.wallet-list,
.filter-list {
  position: absolute;
  background-color: rgb(var(--color-bg));
  top: 100%;
  margin-top: 10px;
  box-shadow: 0 0 0 0.5px var(--color-bdr);
  padding: 2.5px 5px;
  border-radius: 2px;
  opacity: 0;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: scale(0.9);
  pointer-events: none;
  z-index: 100;
}

.wallet-list {
  width: 200px;
  right: 0;
}

.filter-list {
  width: 180px;
  margin-top: 0;
}

.wallet-list.show,
.filter-list.show {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.wallet-list button,
.filter-list button,
#settings {
  width: 100%;
  height: 45px;
  margin: 2.5px 0;
}

.filter-list button {
  height: 35px;
}

.wallet-list img {
  height: 28px;
  width: 28px;
  margin-right: 8px;
  border-radius: 2px;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5px;
}

#whats a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--color-txt);
  background-color: transparent;
  padding: 0;
  margin-right: 0;
}

#whats a:hover {
  text-decoration: underline;
}

#disconnect {
  height: 32px;
  width: 60px;
  border-radius: 32px;
  padding: 5px;
  background-color: var(--color-hvr);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.slider:hover,
#disconnect:hover {
  box-shadow: 0 0 0 1px var(--color-hvr);
}

.theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-hvr);
  border-radius: 32px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(var(--color-bg));
  transition: 0.4s;
  border-radius: 50%;
}

.theme.dark .slider:before {
  transform: translateX(28px);
}

.slider .fa-sun,
.slider .fa-moon {
  position: absolute;
  top: 50%;
  color: var(--color-txt);
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.4s;
}

.slider .fa-sun {
  left: 8px;
}

.slider .fa-moon {
  right: 10px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  padding: 0 20px;
}

.explanation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 90%;
  width: 100%;
  padding: 10px;
  margin-top: 22px;
  transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

#market,
#squaresBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
  justify-content: center;
  transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
  width: 100%;
  margin: 22px auto;
}

#market.mySVGs-open,
#squaresBox.mySVGs-open,
.explanation.mySVGs-open,
footer.mySVGs-open {
  width: calc(100% - 360px);
  margin-right: 360px;
}

.square-container {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 2px;
  overflow: hidden;
}

.square-container svg {
  width: 100%;
  height: 100%;
}

.claim-button {
  position: absolute;
  bottom: 0;
  width: 105%;
  height: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: var(--color-hvr);
  color: var(--color-txt);
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.square-container:hover .claim-button {
  opacity: 0.8;
}

#mySVGs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  align-content: start;
  position: fixed;
  top: 55px;
  bottom: 0;
  right: -360px;
  width: 360px;
  border-radius: 2px;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(var(--color-bg));
  transition: right 0.3s ease-in-out;
}

#mySVGs.open {
  right: 0;
  opacity: 1;
}

.svg-card {
  position: relative;
  padding-top: 160%;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px var(--color-bdr);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.svg-card:hover {
  transform: scale(1.03);
}

.svg-card > * {
  position: absolute;
  left: 0;
  width: 100%;
}

.svg-card svg {
  top: 0;
  height: 62.5%;
}

.svg-label,
.price-info,
.bid-info {
  position: absolute;
  padding: 5px;
  margin: 0;
  margin: 3px 0;
  font-size: 12px;
}

.svg-label {
  top: 63.5%;
}

.price-info {
  top: 75.5%;
}

.bid-info {
  top: 85.5%;
  font-size: 10px;
  color: var(--color-ipt);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: absolute;
  bottom: -37.5%;
  left: 0;
  right: 0;
  height: 37.5%;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgb(var(--color-bg));
  background-color: transparent;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.svg-card:hover .button-container {
  opacity: 1;
  bottom: 0;
}

.button-container button {
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 50%;
  color: var(--color-txt);
  flex: 1 1 auto;
  box-shadow: 0 0 0 0.5px var(--color-bdr);
  background-color: var(--color-hvr);
  transition: background-color 0.3s ease-in-out;
}

.button-container button:hover {
  background-color: var(--color-bdr);
}

.button-container button.disabled {
  display: none;
}

footer {
  color: var(--color-bdr);
  text-align: center;
  padding: 1px 0;
}

#notificationBox {
  position: fixed;
  bottom: 15px;
  right: 15px;
  overflow: visible;
  z-index: 100;
}

#notification {
  position: relative;
  right: -100%;
  width: 100%;
  opacity: 0;
  border-radius: 2px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

#notification.show {
  right: 0;
  opacity: 1;
}

.notif-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#notification::before {
  content: "";
  position: absolute;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-bg), 0.6);
  z-index: -1;
}

#notification.info .notif-content {
  color: rgba(var(--color-blue), 0.8);
  border: 1px solid rgba(var(--color-blue), 0.8);
  background-color: rgba(var(--color-blue), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-blue), 0.5);
}

#notification.success .notif-content {
  color: rgba(var(--color-green), 0.8);
  border: 1px solid rgba(var(--color-green), 0.8);
  background-color: rgba(var(--color-green), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-green), 0.5);
}

#notification.warning .notif-content {
  color: rgba(var(--color-red), 0.8);
  border: 1px solid rgba(var(--color-red), 0.8);
  background-color: rgba(var(--color-red), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-red), 0.5);
}

.green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(var(--color-green));
  margin-left: 5px;
  box-shadow: 0 0 0 0 rgba(var(--color-green), 0.5);
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-green), 0.5);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(var(--color-green), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--color-green), 0);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(var(--color-bg), 0.3);
  z-index: 99;
  display: none;
}

@media (max-width: 635px) {
  .filter-bar {
    display: none;
  }

  .filter-bar-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 70px;
    width: 100%;
    padding: 0 20px 10px;
  }

  .filters-btn,
  .my-svg-btn,
  .search-input {
    margin: 0;
  }

  main {
    padding: 0;
  }

  #market,
  #squaresBox {
    max-width: 90%;
  }

  #market.mySVGs-open,
  #squaresBox.mySVGs-open,
  .explanation.mySVGs-open,
  footer.mySVGs-open {
    display: none;
  }

  #mySVGs {
    top: 100px;
  }

  #mySVGs.open {
    width: 100%;
  }

  .button-container button {
    font-size: 10px;
  }
}
