:root {
  --color-bg: 255, 255, 255;
  --color-txt: #5c5c5c;
  --color-btn: #b1b1b1;
  --color-card: #fcfcfc;
  --color-bg-btn: #4babe7;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #e47fe6;
  --color-indic: 46, 204, 113;
  --color-wrong: 234, 51, 35;
}

:root.dark-mode {
  --color-bg: 23, 23, 23;
  --color-txt: #adadae;
  --color-btn: #656565;
  --color-card: #1d1d1d;
  --color-bg-btn: #4babe7;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #57d47c;
  --color-indic: 46, 204, 113;
  --color-wrong: 234, 51, 35;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  border: none;
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(var(--color-bg));
  color: var(--color-txt);
}

body {
  display: flex;
  flex-direction: column;
}

.box {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(var(--color-bg), 0.9);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 50px;
}

.title h1 {
  font-size: 1.2em;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.the-market {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--color-txt);
  margin-right: 30px;
  height: 35px;
  padding: 7.5px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease-in-out;
}

.the-market:hover {
  box-shadow: 0 0 0 0.5px var(--color-btn);
}

.network,
.connectivity {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.network button,
.connectivity button {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-txt);
  background-color: rgb(var(--color-bg));
  border: none;
  height: 35px;
  padding: 7.5px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.network button {
  background-color: transparent;
}

#connectBtn {
  font-size: 1.1em;
  color: rgb(var(--color-bg));
  background: linear-gradient(
    270deg,
    var(--color-bg-btn-start),
    var(--color-bg-btn-end)
  );
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
  margin-left: 5px;
}

#connectBtn:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 0 0.5px var(--color-btn);
}

#connectBtn.connected {
  color: var(--color-txt);
  background: transparent;
  background-size: initial;
  animation: none;
  filter: none;
}

#networkBtn:hover,
#connectBtn.connected:hover {
  box-shadow: 0 0 0 0.5px var(--color-btn);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#connectBtn img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.network img {
  width: 20px;
  height: 20px;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 70px;
  width: 100%;
  padding: 0 20px 10px;
}

.filter-items {
  display: flex;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

#searchInput {
  border: none;
  background-color: transparent;
  color: var(--color-txt);
  font-size: 1em;
  width: 105px;
  height: 35px;
  text-align: start;
  border-radius: 15px;
  padding-left: 30px;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  transition: box-shadow 0.3s ease-in-out;
}

#searchInput::placeholder {
  color: var(--color-btn);
}

#searchInput:hover,
#searchInput:focus {
  box-shadow: 0 0 0 1px var(--color-btn);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5px;
  color: var(--color-btn);
  padding: 0;
  font-size: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  transition: color 0.1s ease-in-out;
}

#filtersBtn,
#mySVGBtn {
  color: var(--color-txt);
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-content: center;
  font-size: 1em;
  padding: 7.5px;
  height: 35px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease-in-out;
}

#filtersBtn:hover,
#mySVGBtn:hover {
  box-shadow: 0 0 0 0.5px var(--color-btn);
}

.wallet-list,
#filterList {
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(var(--color-bg), 0.9);
  width: 150px;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 101;
  transform: scale(0.9);
  pointer-events: none;
  overflow-y: auto;
}

#filterList {
  top: 99px;
  left: 20px;
  height: 180px;
}

#filterList.show,
.wallet-list.show {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

#filterList button,
.wallet-list button,
#settings {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-txt);
  background-color: transparent;
  border: none;
  height: 35px;
  padding: 7.5px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  transition: box-shadow 0.3s ease-in-out;
}

#filterList button:hover,
.wallet-list button:hover {
  box-shadow: 0 0 0 0.5px var(--color-btn);
}

.wallet-list {
  top: 55px;
  width: 200px;
  right: 10px;
}

#filterList button:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#filterList button:last-child,
.wallet-list button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wallet-list img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 5px;
}

.wallet-list button,
#settings {
  height: 50px;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
}

#settings.nowallet {
  border-radius: 15px;
  margin-bottom: 0;
}

#wallets button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

#disconnect {
  justify-content: center;
  font-size: 16px;
  height: 32px;
  width: 60px;
  border-radius: 32px;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out;
}

#disconnect:hover,
.slider:hover {
  box-shadow: 0 0 0 1px var(--color-btn);
}

#whats a {
  font-size: 14.5px;
  text-decoration: none;
  color: var(--color-txt);
}

#whats a:hover {
  text-decoration: underline;
}

.theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  border-radius: 32px;
  transition: box-shadow 0.3s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: transparent;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  transition: 0.4s;
  border-radius: 50%;
}

.theme.dark .slider:before {
  transform: translateX(28px);
}

.slider .fa-sun,
.slider .fa-moon {
  position: absolute;
  top: 50%;
  color: var(--color-txt);
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.4s;
}

.slider .fa-sun {
  left: 8px;
}

.slider .fa-moon {
  right: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(var(--color-indic));
  margin-left: 5px;
}

main {
  flex: 1;
  display: flex;
  min-height: 100%;
}

#market,
#squaresBox {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  gap: 10px;
  padding: 20px;
  background-color: rgb(var(--color-bg));
  transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

#market.mySVGs-open,
#squaresBox.mySVGs-open {
  width: calc(100% - 360px);
  margin-right: 360px;
}

.square-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.square-container svg {
  border-radius: 10px;
}

.claim-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
  background-color: rgb(var(--color-bg));
  color: var(--color-txt);
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.square-container:hover .claim-button {
  opacity: 0.6;
}

#mySVGs {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 110px;
  bottom: 10px;
  right: -100%;
  width: 360px;
  border-radius: 15px;
  overflow-y: auto;
  padding: 20px;
  gap: 10px;
  background-color: rgb(var(--color-bg));
  box-shadow: 0 0 0 0.5px var(--color-btn);
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

#mySVGs.show {
  right: 10px;
  opacity: 1;
}

.svg-card {
  position: relative;
  width: 100px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-card);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.svg-card:hover {
  transform: scale(1.03);
}

.svg-label {
  margin: 4px 0;
  font-size: 12px;
  padding-left: 5px;
}

.price-info,
.bid-info {
  font-size: 12px;
  margin: 3px 0;
  padding-left: 5px;
}

.bid-info {
  font-size: 10px;
  color: var(--color-btn);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 60px;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  background-color: rgb(var(--color-bg));
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.svg-card:hover .button-container {
  opacity: 1;
  bottom: 0;
}

.buy-btn,
.offer-btn,
.list-btn,
.accept-offer-btn,
.cancel-list-btn,
.cancel-offer-btn {
  font-size: 12px;
  border: none;
  cursor: pointer;
  flex: 1 1 auto;
  transition: filter 0.3s ease-in-out;
  color: white;
}

.buy-btn:hover,
.offer-btn:hover,
.list-btn:hover,
.accept-offer-btn:hover,
.cancel-list-btn:hover,
.cancel-offer-btn:hover {
  filter: brightness(1.1);
}

.buy-btn,
.accept-offer-btn {
  background-color: rgb(var(--color-indic));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex: 1 1 100%;
}

.offer-btn,
.list-btn {
  background-color: var(--color-bg-btn);
}

.cancel-list-btn,
.cancel-offer-btn {
  background-color: rgb(var(--color-wrong));
}

#notification {
  position: fixed;
  bottom: 20px;
  right: -100%;
  max-width: 300px;
  border-radius: 15px;
  opacity: 0;
  z-index: 100;
  text-shadow: 1px 1px #171717;
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

#notification.show {
  right: 20px;
  opacity: 1;
}

.notif-content {
  position: relative;
  padding: 10px;
  border-radius: 15px;
}

#notification::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.9);
  z-index: -1;
}

#notification.info .notif-content {
  color: rgba(var(--color-indic), 0.8);
  border: 1px solid rgba(var(--color-indic), 0.8);
  background-color: rgba(var(--color-indic), 0.2);
  box-shadow: 0 0 2px rgba(var(--color-indic), 0.6);
}

#notification.warning .notif-content {
  color: rgba(var(--color-wrong), 0.8);
  border: 1px solid rgba(var(--color-wrong), 0.8);
  background-color: rgba(var(--color-wrong), 0.2);
  box-shadow: 0 0 2px rgba(var(--color-wrong), 0.6);
}

footer {
  color: var(--color-txt);
  text-align: center;
}

@media (max-width: 500px) {
  .title h1 {
    display: none;
  }

  .the-market {
    margin-right: 15px;
  }

  #market,
  #squaresBox {
    position: absolute;
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  #market.mySVGs-open,
  #squaresBox.mySVGs-open {
    width: 100%;
    margin-right: -100%;
    left: -100%;
  }

  #mySVGs.show {
    justify-content: center;
    right: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
  }
}
