:root {
  --color-bg: 250, 250, 250;
  --color-txt: #5c5c5c;
  --color-btn: #b1b1b1;
  --color-card: #efefef;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #e47fe6;
  --color-info: 75, 186, 231;
  --color-success: 46, 204, 113;
  --color-warning: 234, 51, 35;
}

:root.dark-mode {
  --color-bg: 30, 30, 30;
  --color-txt: #adadae;
  --color-btn: #656565;
  --color-card: #252525;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #57d47c;
  --color-info: 75, 186, 231;
  --color-success: 46, 204, 113;
  --color-warning: 234, 51, 35;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  border: none;
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-card);
  color: var(--color-txt);
}

body {
  display: flex;
  flex-direction: column;
}

.box {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(var(--color-bg));
  user-select: none;
  -webkit-user-select: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 50px;
}

.title h1 {
  font-size: 1.2em;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.the-market {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--color-txt);
  padding: 6.5px 7.5px;
  height: 35px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.the-market:hover {
  box-shadow: 0 0 0 1px var(--color-btn);
}

.network,
.connectivity {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.network button,
.connectivity button,
.filter-list button {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-txt);
  background-color: rgb(var(--color-bg));
  border: none;
  height: 35px;
  padding: 7.5px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.network button {
  background-color: transparent;
}

#connectBtn {
  font-size: 1.1em;
  color: rgb(var(--color-bg));
  background: linear-gradient(
    270deg,
    var(--color-bg-btn-start),
    var(--color-bg-btn-end)
  );
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
  margin-left: 5px;
}

#connectBtn:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 0 1px var(--color-btn);
}

#connectBtn.connected {
  color: var(--color-txt);
  background: transparent;
  background-size: initial;
  animation: none;
  filter: none;
}

#networkBtn:hover,
#connectBtn.connected:hover {
  box-shadow: 0 0 0 1px var(--color-btn);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#connectBtn img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.network img {
  width: 20px;
  height: 20px;
}

.filter-bar {
  display: flex;
  align-items: center;
}

.filter-bar-phone {
  display: none;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  border: none;
  background-color: transparent;
  color: var(--color-txt);
  font-size: 1em;
  width: 105px;
  height: 35px;
  text-align: start;
  border-radius: 10px;
  padding-left: 30px;
  box-shadow: 0 0 0 0.5px var(--color-btn);
  transition: box-shadow 0.3s ease-in-out;
}

.search-input::placeholder {
  color: var(--color-btn);
}

.search-input:hover,
.search-input:focus {
  box-shadow: 0 0 0 1px var(--color-btn);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5px;
  color: var(--color-btn);
  padding: 0;
  font-size: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  transition: color 0.1s ease-in-out;
}

.filters-btn,
.my-svg-btn {
  color: var(--color-txt);
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-content: center;
  font-size: 1.1em;
  padding: 7.5px;
  height: 35px;
  border-radius: 10px;
  margin: 0 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.filters-btn:hover,
.my-svg-btn:hover {
  box-shadow: 0 0 0 1px var(--color-btn);
}

.network img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.network button span i {
  display: inline-block;
  font-size: 0.8em;
  transition: transform 0.3s ease-in-out;
}

.network button span i.rotate {
  transform: rotate(180deg);
}

.chain-list,
.wallet-list,
.filter-list {
  position: absolute;
  background-color: rgb(var(--color-bg));
  top: 100%;
  margin-top: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.9);
  pointer-events: none;
  z-index: 100;
}

.chain-list {
  width: 150px;
  left: 0;
}

.wallet-list {
  width: 200px;
  right: 0;
}

.filter-list {
  width: 180px;
  margin-top: 0;
}

.chain-list.show,
.wallet-list.show,
.filter-list.show {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.wallet-list button,
.chain-list button,
.filter-list button,
#settings {
  color: var(--color-txt);
  background-color: var(--color-card);
  background-image: none;
  border: none;
  width: 100%;
  height: 40px;
  padding: 7.5px;
  border-radius: 0;
  margin: 2.5px 0;
  transition: background-color 0.3s ease-in-out;
}

.filter-list button:hover,
.wallet-list button:hover,
.chain-list button:hover {
  background-color: color-mix(in srgb, var(--color-card) 90%, black);
}

.chain-list button:first-child,
.filter-list button:first-child,
#settings {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 0;
}

#wallets button:last-child,
.chain-list button:last-child,
.filter-list button:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
}

.wallet-list img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 10px;
}

.wallet-list button,
#settings {
  height: 50px;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
}

#settings.nowallet {
  border-radius: 10px;
  margin-bottom: 0;
}

#disconnect {
  justify-content: center;
  font-size: 16px;
  height: 32px;
  width: 60px;
  border-radius: 32px;
  background-color: color-mix(in srgb, var(--color-card) 90%, black);
  transition: box-shadow 0.3s ease-in-out;
}

.slider:hover,
#disconnect:hover {
  box-shadow: 0 0 0 1px var(--color-btn);
}

#whats a {
  font-size: 14.5px;
  text-decoration: none;
  color: var(--color-txt);
  transition: color 0.3s ease-in-out;
}

#whats a:hover {
  color: var(--color-btn);
}

.theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: color-mix(in srgb, var(--color-card) 90%, black);
  border-radius: 32px;
  transition: box-shadow 0.3s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(var(--color-bg));
  transition: 0.4s;
  border-radius: 50%;
}

.theme.dark .slider:before {
  transform: translateX(28px);
}

.slider .fa-sun,
.slider .fa-moon {
  position: absolute;
  top: 50%;
  color: var(--color-txt);
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.4s;
}

.slider .fa-sun {
  left: 8px;
}

.slider .fa-moon {
  right: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(var(--color-success));
  margin-left: 5px;
}

main {
  flex: 1;
  display: flex;
  min-height: 100%;
}

#market,
#squaresBox {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  gap: 10px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(var(--color-bg));
  transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

#market.mySVGs-open,
#squaresBox.mySVGs-open {
  width: calc(100% - 380px);
  margin-right: 380px;
}

.square-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.square-container svg {
  border-radius: 10px;
}

.claim-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
  background-color: rgb(var(--color-bg));
  color: var(--color-txt);
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.square-container:hover .claim-button {
  opacity: 0.8;
}

#mySVGs {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 63px;
  bottom: 10px;
  right: -100%;
  width: 360px;
  border-radius: 10px;
  overflow-y: auto;
  padding: 20px;
  gap: 10px;
  background-color: rgb(var(--color-bg));
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

#mySVGs.show {
  right: 10px;
  opacity: 1;
}

.svg-card {
  position: relative;
  width: 100px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-card);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.svg-card:hover {
  transform: scale(1.03);
}

.svg-label {
  margin: 4px 0;
  font-size: 12px;
  padding-left: 5px;
}

.price-info,
.bid-info {
  font-size: 12px;
  margin: 3px 0;
  padding-left: 5px;
}

.bid-info {
  font-size: 10px;
  color: var(--color-btn);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgb(var(--color-bg));
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.svg-card:hover .button-container {
  opacity: 1;
  bottom: 0;
}

.button-container button {
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 30px;
  color: white;
  flex: 1 1 auto;
  transition: filter 0.3s ease-in-out;
}

.button-container button:hover {
  filter: brightness(1.2);
}

.buy-btn,
.accept-offer-btn {
  background-color: rgb(var(--color-success));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-btn,
.offer-btn {
  background-color: rgb(var(--color-info));
}

.cancel-list-btn,
.cancel-offer-btn {
  background-color: rgb(var(--color-warning));
}

#notificationBox {
  position: fixed;
  top: 53px;
  right: 0;
  width: 190px;
  overflow: hidden;
  z-index: 99;
  padding: 10px;
}

#notification {
  position: relative;
  right: -100%;
  border-radius: 10px;
  width: 100%;
  opacity: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

#notification.show {
  right: 0;
  opacity: 1;
}

.notif-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

#notification::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(var(--color-bg), 0.9);
  z-index: -1;
}

#notification.info .notif-content {
  color: rgba(var(--color-info), 0.8);
  border: 1px solid rgba(var(--color-info), 0.8);
  background-color: rgba(var(--color-info), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-info), 0.5);
}

#notification.success .notif-content {
  color: rgba(var(--color-success), 0.8);
  border: 1px solid rgba(var(--color-success), 0.8);
  background-color: rgba(var(--color-success), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-success), 0.5);
}

#notification.warning .notif-content {
  color: rgba(var(--color-warning), 0.8);
  border: 1px solid rgba(var(--color-warning), 0.8);
  background-color: rgba(var(--color-warning), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-warning), 0.5);
}

footer {
  color: var(--color-txt);
  text-align: center;
}

@media (max-width: 730px) {
  .title h1 {
    display: none;
  }

  .the-market {
    margin-right: 10px;
  }

  .filter-bar {
    display: none;
  }

  .filter-bar-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 70px;
    width: 100%;
    padding: 0 20px 10px;
  }

  .filter-items {
    display: flex;
  }

  .search-input,
  .filters-btn,
  .my-svg-btn {
    box-shadow: 0 0 0 1px var(--color-btn);
  }

  #market,
  #squaresBox {
    margin: 5px;
  }

  #market.mySVGs-open,
  #squaresBox.mySVGs-open {
    display: none;
  }

  #mySVGs {
    justify-content: center;
    top: 103px;
    bottom: 5px;
  }

  #mySVGs.show {
    right: 5px;
    width: calc(100% - 10px);
  }

  .button-container button {
    font-size: 10px;
  }

  #notificationBox {
    top: 100px;
  }
}
